{{#> "systems/abfalter/templates/autoCombat/common/ui/group.hbs"
  class="abf-chat-message combat-result-message"
}}
  {{>
  "systems/abfalter/templates/autoCombat/common/ui/group-header.hbs"
    title=(localize "abfalter.autoCombat.chat.combatResult.title")
  }}
  {{#> "systems/abfalter/templates/autoCombat/common/ui/group-body.hbs"}}
    <div class='abf-chat-message-body'>
      <div class='combatants'>
        <div class='combatant-profile'>
          <div class='image'>
            <img src='{{this.attacker.img}}' data-edit='img' title='{{this.attacker.name}}' />
          </div>
          <p class='label name'>
            {{this.attacker.name}}
          </p>
        </div>
        <div class='versus-label'>
          <p class='label'>VS</p>
        </div>
        <div class='combatant-profile'>
          <div class='image'>
            <img src='{{this.defender.img}}' data-edit='img' title='{{this.defender.name}}' />
          </div>
          <p class='label name'>
            {{this.defender.name}}
          </p>
        </div>
      </div>
      <div class='combat-result'>
        <p class='result'>{{this.result}}</p>



        {{#if this.canCounter}}
          {{#if (eq this.defender.defenseType "combat")}}
            <p class='counter'>{{{localize "abfalter.autoCombat.chat.combatResult.counter.title" defender=this.defender.name bonus=this.bonus}}}</p>
          {{else if (or this.rawDamage (eq this.rawDamage 0)) }}
            <p class='counter'>{{{localize "abfalter.autoCombat.chat.combatResult.damageShield.title" defender=this.defender.name damage=this.rawDamage}}}</p>
            {{#unless (eq this.shieldBreakDamage 0)}}
              <p class='counter'>{{{localize "abfalter.autoCombat.chat.combatResult.damageShieldBreak.title" defender=this.defender.name damage=this.shieldBreakDamage}}}</p>
              {{#if this.isCrit}}
                <p class='counter'>{{{localize "abfalter.autoCombat.chat.combatResult.crit.title" defender=this.defender.name crit=this.critLevel}}}</p>
                {{#if (gt this.critResult 0)}}
                  <p class='counter'>{{{localize "abfalter.autoCombat.chat.critResult.hit.title" defender=this.defender.name crit=this.critResult}}}</p>
                  <p class='counter'>{{{localize (concat "abfalter.autoCombat.chat.critResult.effect." this.critResultRound ".title") defender=this.defender.name critResult=this.critResult location=this.location}}}</p>
                {{/if}}
              {{/if}}
            {{/unless}}
          {{/if}}
        {{else if this.damage}}
          <p class='counter'>{{{localize "abfalter.autoCombat.chat.combatResult.damage.title" defender=this.defender.name damage=this.damage}}}</p>
          {{#if this.isCrit}}
          <p class='counter'>{{{localize "abfalter.autoCombat.chat.combatResult.crit.title" defender=this.defender.name crit=this.critLevel}}}</p>
            {{#if (gt this.critResult 0)}}
            <p class='counter'>{{{localize "abfalter.autoCombat.chat.critResult.hit.title" defender=this.defender.name crit=this.critResult}}}</p>
            <p class='counter'>{{{localize (concat "abfalter.autoCombat.chat.critResult.effect." this.critResultRound ".title") defender=this.defender.name critResult=this.critResult location=this.location}}}</p>
            {{/if}}
          {{/if}}
        {{else}}  
        <p class='counter'>{{{localize "abfalter.autoCombat.chat.combatResult.noDamage.title" defender=this.defender.name }}}</p>
        {{/if}}
        {{#if this.resistanceEffect}}
          <p class='counter'>{{{localize "abfalter.autoCombat.chat.combatResult.resistance.title" defender=this.defender.name effect=this.resistanceEffect result=this.resistanceResult}}}</p>
        {{/if}}
      </div>
    </div>
  {{/"systems/abfalter/templates/autoCombat/common/ui/group-body.hbs"}}
{{/"systems/abfalter/templates/autoCombat/common/ui/group.hbs"}}
