<form class="{{cssClass}} {{#if this.allowed}}allowed{{/if}}" autocomplete="off">
    {{>
    "systems/abfalter/templates/autoCombat/common/ui/group-header.hbs"
      title=(concat (localize 'abfalter.autoCombat.dialog.defending.title') this.attacker.token.name)
    }}
    {{#> "systems/abfalter/templates/autoCombat/common/ui/group-body.hbs"
      class="defense-values"
    }}
{{#if this.allowed}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="combat">{{localize "combat"}}</a>
        {{#if this.defender.mystic.spells}}<a class="item" data-tab="mystic">{{localize "mystic"}}</a>{{/if}}
        {{#if this.defender.psychic.powers}}<a class="item" data-tab="psychic">{{localize "psychic"}}</a>{{/if}}

    </nav>

    <section class="sheet-body">
        <div class="tab combat" data-group="primary" data-tab="combat">
{{> systems/abfalter/templates/autoCombat/defenseParts/combat.hbs }}
        </div>
        <div class="tab mystic" data-group="primary" data-tab="mystic">
{{> systems/abfalter/templates/autoCombat/defenseParts/mystic.hbs }}
        </div>
        <div class="tab psychic" data-group="primary" data-tab="psychic">
{{> systems/abfalter/templates/autoCombat/defenseParts/psychic.hbs }}
        </div>
    </section>


{{else}}
    <div class='waitingRow'>
        <span> Time to wait for permission :)</span>
    </div>
{{/if}}
    {{/"systems/abfalter/templates/autoCombat/common/ui/group-body.hbs"}}
</form>