<form class="{{cssClass}} gmCombatDialog" autocomplete="off">
    <div class="combatants">

    {{#> "systems/abfalter/templates/autoCombat/common/ui/group.hbs"
      class="attack-values"
    }}
      {{#> "systems/abfalter/templates/autoCombat/common/ui/group-body.hbs"
        class="attack-values"
      }}
      {{>
      "systems/abfalter/templates/autoCombat/common/ui/group-header.hbs"
        title=(localize 'abfalter.autoCombat.dialog.attacker.title')
      }}


        <div class='combatant-profile'>
            <div class='image'>
                <img src="{{this.attacker.token.texture.src}}" data-edit='img' title="{{this.attacker.token.name}}" />
            </div>
            <p class='label name'>
                {{this.attacker.token.name}}
            </p>
        </div>



        {{#if this.attacker.isReady}}
        {{>
        "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
        class="custom-modifier"
        title=(localize 'abfalter.autoCombat.dialog.attackerCustomModifier.title')
        inputName="attacker.customModifier"
        inputValue=this.attacker.customModifier
        }}


        <p class='attack-type label'>
            {{localize (concat 'abfalter.autoCombat.dialog.attackType.' this.attacker.result.type '.title')}}
        </p>
        <div class='values'>
            {{#if (eq this.attacker.result.type 'combat')}}
                {{#unless this.attacker.result.values.unarmed}}
                    {{#unless (eq this.attacker.result.values.weapon.system.quality 0)}}
                        {{>
                        "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                        class="weapon-used"
                        title=(localize 'abfalter.autoCombat.dialog.weaponUsed.title')
                        inputType="text"
                        disabled=true
                        inputValue=(concat this.attacker.result.values.weapon.name " + " this.attacker.result.values.weapon.system.quality)
                        }}
                    {{else}}
                        {{>
                        "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                        class="weapon-used"
                        title=(localize 'abfalter.autoCombat.dialog.weaponUsed.title')
                        inputType="text"
                        disabled=true
                        inputValue=this.attacker.result.values.weapon.name
                        }}
                    {{/unless}}
                    {{>
                    "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                    class="weapon-attack"
                    title=(localize 'abfalter.autoCombat.dialog.weaponAttack.title')
                    inputType="text"
                    disabled=true
                    inputValue=this.attacker.rollResult.total
                    }}
                {{else}}
                    {{>
                    "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                    class="weapon-used"
                    title=(localize 'abfalter.autoCombat.dialog.weaponUsed.title')
                    inputType="text"
                    disabled=true
                    inputValue="Unarmed"
                    }}
                    {{>
                    "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                    class="weapon-attack"
                    title=(localize 'abfalter.autoCombat.dialog.attack.title')
                    inputType="text"
                    disabled=true
                    inputValue=this.attacker.rollResult.total
                    }}
                {{/unless}}
                {{>
                "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                class="weapon-attack"
                inputName="attacker.updateRoll"
                inputType="button"
                inputValue="update Roll Value"
                }}
            {{/if}}

           {{#if (eq this.attacker.result.type 'mystic')}}
            {{>
            "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
            class="spell-used"
            title=(concat (localize 'abfalter.autoCombat.dialog.spell.title') ' - ' (localize (concat
            'abfalter.autoCombat.dialog.spellGrade.' this.attacker.result.values.spellGrade '.title')))
            inputType="text"
            disabled=true
            inputValue=this.attacker.result.spell.name
            }}
            {{>
            "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
            class="magic-projection"
            title=(localize 'abfalter.autoCombat.dialog.gm.projection.title')
            inputType="text"
            disabled=true
            inputValue=this.attacker.result.values.magicProjection
            }}
            {{/if}}

            {{#if (eq this.attacker.result.type 'psychic')}}
            {{>
            "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
            class="psychic-potential"
            title=(localize 'abfalter.autoCombat.dialog.gm.psychicPotential.title')
            inputType="text"
            disabled=true
            inputValue=this.attacker.result.values.psychicPotential.result
            }}
            {{>
            "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
            class="power-level"
            title=(localize 'abfalter.autoCombat.dialog.psychicPowerLevel.title')
            inputType="text"
            disabled=true
            inputValue=this.attacker.result.values.powerLevel
            }}

            {{>
            "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
            class="power-used"
            title=(localize 'abfalter.autoCombat.dialog.gm.psychicPower.title')
            inputType="text"
            disabled=true
            inputValue=this.attacker.result.power.name
            }}
            {{>
            "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
            class="psychic-projection"
            title=(localize 'abfalter.autoCombat.dialog.gm.projection.title')
            inputType="text"
            disabled=true
            inputValue=this.attacker.result.values.psychicProjection.final
            }}
            {{/if}}

        </div>
        <div class='values'>

            {{#unless (eq this.attacker.result.values.damage.type '-')}}
            {{>
            "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
            class="damageType"
            title=(localize 'abfalter.autoCombat.dialog.weapon.damageType.title')
            inputType="text"
            disabled=true
            inputValue=(localize (concat 'abfalter.armoryTab.' (toLowerCase this.attacker.result.values.damage.type)))
            }}
            {{>
            "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
            class="damage"
            title=(localize 'abfalter.autoCombat.dialog.damage.title')
            inputType="text"
            disabled=true
            inputValue=this.attacker.result.values.damage.final
            }}
            {{/unless}}
            {{>
            "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
            class="roll"
            title=(localize 'abfalter.autoCombat.dialog.rolled.title')
            inputType="text"
            disabled=true
            inputValue=this.attacker.rollResult.roll
            }}
            {{>
            "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
            class="total"
            title=(localize 'abfalter.autoCombat.dialog.total.title')
            inputType="text"
            disabled=true
            inputValue=this.attacker.rollResult.total
            }}
        </div>
        <div class="combat-mod">
            {{#each this.attacker.result.values.attackerCombatMod as |attackerCombatMod|}}
            {{#unless (eq attackerCombatMod.value 0)}}
            {{>
            "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
            class="combatMod-value"
            title=(localize (concat 'abfalter.autoCombat.dialog.combatMod.' @key '.title'))
            inputType="text"
            disabled=true
            inputValue=attackerCombatMod.value
            }}
            {{>
            "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
            class="combatMod-apply"
            inputType="checkbox"
            disabled=false
            inputName=(concat "attacker.result.values.attackerCombatMod." @key ".apply")
            inputValue=(eq attackerCombatMod.apply true)
            }}
            {{/unless}}
            {{/each}}
        </div>
        {{else}}
        <div class='waiting-row'>
            {{>'systems/abfalter/templates/autoCombat/common/ui/loading-indicator.hbs' class="big"}}
            <p class='label'>{{localize 'abfalter.autoCombat.dialog.waitingAttack.title'}}</p>
        </div>
        {{/if}}

      {{/"systems/abfalter/templates/autoCombat/common/ui/group-body.hbs"}}
    {{/"systems/abfalter/templates/autoCombat/common/ui/group.hbs"}}


























        <div class='versus-label'>
            <p class='label'>VS</p>
        </div>


























    {{#> "systems/abfalter/templates/autoCombat/common/ui/group.hbs"
      class="defender-values"
    }}
      {{#> "systems/abfalter/templates/autoCombat/common/ui/group-body.hbs"
        class="defender-values"
      }}
      {{>
      "systems/abfalter/templates/autoCombat/common/ui/group-header.hbs"
        title=(localize 'abfalter.autoCombat.dialog.defender.title')
      }}

        <div class='combatant-profile'>
            <div class='image'>
                <img src='{{this.defender.token.texture.src}}' data-edit='img' title='{{this.defender.token.name}}' />
            </div>
            <p class='label name'>
                {{this.defender.token.name}}
            </p>
        </div>




        {{#if this.attacker.isReady}}
          {{#if this.defender.isReady}}
            {{#unless (eq this.defender.result.type 'resistance')}}
              {{>
              "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                class="custom-modifier"
                title=(localize 'abfalter.autoCombat.dialog.defenderCustomModifier.title')
                inputName="defender.customModifier"
                inputValue=this.defender.customModifier
              }}
            {{/unless}}

            <p class='defense-type label'>
              {{localize (concat 'abfalter.autoCombat.dialog.attackType.' this.defender.result.type '.title')}}
            </p>

            <div class='values'>
              {{#if (eq this.defender.result.type 'combat')}}
                {{>
                "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                  class="combat-defense-type"
                  inputType="text"
                  title=(localize 'abfalter.autoCombat.dialog.defenseType.title')
                  disabled=true
                  inputValue=(localize (concat 'abfalter.armoryTab.' (toLowerCase this.attacker.result.values.damage.type)))
                }}
                {{#if (eq this.defender.result.values.defenseType 'dodge')}}
                  {{>
                  "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                    class="dodge-value"
                    inputType="text"
                    title=(localize 'abfalter.autoCombat.dialog.dodgeValue.title')
                    disabled=true
                    inputValue=this.defender.rollResult.total
                  }}
                {{else}}
                  {{>
                  "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                    class="block-value"
                    inputType="text"
                    title=(localize 'abfalter.autoCombat.dialog.blockValue.title')
                    disabled=true
                    inputValue=this.defender.rollResult.total
                  }}
                {{/if}}
                {{>
                "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                class="weapon-attack"
                inputName="defender.updateRoll"
                inputType="button"
                inputValue="update Roll Value"
                }}
              {{/if}}

              {{#if (eq this.defender.result.type 'mystic')}}
                {{>
                "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                  class="spell-used"
                title=(concat (localize 'abfalter.autoCombat.dialog.spell.title') ' - ' (localize (concat 'abfalter.autoCombat.dialog.spellGrade.' this.defender.result.values.spellGrade '.title')))
                  inputType="text"
                  disabled=true
                  inputValue=this.defender.result.spell.name
                }}
                {{>
                "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                  class="magic-projection"
                  title=(localize 'abfalter.autoCombat.dialog.gm.projection.title')
                  inputType="text"
                  disabled=true
                  inputValue=this.defender.result.values.magicProjection
                }}
              {{/if}}

              {{#if (eq this.defender.result.type 'psychic')}}
                {{#unless (eq this.defender.result.values.psychicPotential 0)}}
                  {{>
                  "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                    class="psychic-potential"
                    title=(localize 'abfalter.autoCombat.dialog.gm.psychicPotential.title')
                    inputType="text"
                    disabled=true
                    inputValue=this.defender.result.values.psychicPotential.result
                  }}
                  {{>
                  "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                  class="power-level"
                  title=(localize 'abfalter.autoCombat.dialog.psychicPowerLevel.title')
                  inputType="text"
                  disabled=true
                  inputValue=this.defender.result.values.powerLevel
                  }}
                {{/unless}}
                {{>
                "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                  class="power-used"
                  title=(localize 'abfalter.autoCombat.dialog.gm.psychicPower.title')
                  inputType="text"
                  disabled=true
                  inputValue=this.defender.result.power.name
                }}
                {{>
                "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                  class="psychic-projection"
                  title=(localize 'abfalter.autoCombat.dialog.gm.projection.title')
                  inputType="text"
                  disabled=true
                  inputValue=this.defender.result.values.psychicProjection.final
                }}
              {{/if}}
            </div>

            <div class='values'>
              {{#unless (eq this.defender.result.values.armor undefined)}}
                {{>
                "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                  class="at-value"
                  title=(localize 'abfalter.autoCombat.dialog.at.title')
                  inputType="text"
                  disabled=true
                  inputValue=this.defender.result.values.armor
                }}
              {{/unless}}
              {{#if (eq this.defender.result.type 'resistance')}}
                {{>
                "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
                  title=(localize 'abfalter.autoCombat.dialog.surprised.title')
                  inputType="checkbox"
                  inputName="defender.result.surprised"
                  inputValue=(eq this.defender.result.surprised true)
                }}
              {{else}}
                {{>
                "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                  class="roll"
                  title=(localize 'abfalter.autoCombat.dialog.rolled.title')
                  inputType="text"
                  disabled=true
                  inputValue=this.defender.rollResult.roll
                }}
                {{>
                "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                  class="total"
                  title=(localize 'abfalter.autoCombat.dialog.total.title')
                  inputType="text"
                  disabled=true
                  inputValue=this.defender.rollResult.total
                }}
              {{/if}}
            </div>

            <div class="combat-mod">
              {{#each this.defender.result.values.defenderCombatMod as |defenderCombatMod|}}
                {{#unless (eq defenderCombatMod.value 0)}}
                  {{>
                  "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
                    class="combatMod-value"
                    title=(localize (concat 'abfalter.autoCombat.dialog.combatMod.' @key '.title'))
                    inputType="text"
                    disabled=true
                    inputValue=defenderCombatMod.value
                  }}
                  {{>
                  "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
                    class="combatMod-apply"
                    inputType="checkbox"
                    disabled=false
                    inputName=(concat "defender.result.values.defenderCombatMod." @key ".apply")
                    inputValue=(eq defenderCombatMod.apply true)
                  }}
                {{/unless}}
              {{/each}}
            </div>
            
            {{#if (eq this.calculations.winner._id this.defender.token._id)}}
              {{#if (or (eq this.defender.result.type 'psychic') (eq this.defender.result.type 'mystic'))}}
              <div class="supernatural-shield">
                  {{>
                  "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
                    class="double-damage"
                    title=(localize 'abfalter.autoCombat.dialog.doubleDamage.title')
                    inputType="checkbox"
                    disabled=false
                    inputName="defender.supernaturalShield.doubleDamage"
                    inputValue=(eq this.defender.supernaturalShield.doubleDamage true)
                  }}
                  {{>
                  "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
                    class="immune-to-damage"
                    title=(localize 'abfalter.autoCombat.dialog.immuneToDamage.title')
                    inputType="checkbox"
                    disabled=false
                    inputName="defender.supernaturalShield.immuneToDamage"
                    inputValue=(eq this.defender.supernaturalShield.immuneToDamage true)
                  }}
                </div>
              {{/if}}
            {{/if}}

          {{else}}
            <div class='waiting-row'>
              {{>'systems/abfalter/templates/autoCombat/common/ui/loading-indicator.hbs' class="big"}}
              <p class='label'>{{localize 'abfalter.autoCombat.dialog.waitingDefense.title'}}</p>
            </div>
          {{/if}}
        {{else}}
          <div class='waiting-row'>
            {{>'systems/abfalter/templates/autoCombat/common/ui/loading-indicator.hbs' class="big"}}
            <p class='label'>{{localize 'abfalter.autoCombat.dialog.waitingDefenseForAttack.title'}}</p>
          </div>
        {{/if}}

      {{/"systems/abfalter/templates/autoCombat/common/ui/group-body.hbs"}}
    {{/"systems/abfalter/templates/autoCombat/common/ui/group.hbs"}}
    </div>




































    {{#> "systems/abfalter/templates/autoCombat/common/ui/group.hbs"
      class="combat-result"
    }}
    {{#if this.calculations}}
      {{>
      "systems/abfalter/templates/autoCombat/common/ui/group-header.hbs"
        title="Result"
      }}
      {{#> "systems/abfalter/templates/autoCombat/common/ui/group-body.hbs"
        class="combat-result"
      }}
        <p class='label title'>{{concat this.calculations.winner.name
                                        (localize 'abfalter.autoCombat.dialog.winner.title')}}</p>
        <div class='assault-values'>
          {{>
          "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
            class="difference"
            title=(localize 'abfalter.autoCombat.dialog.difference.title')
            inputType="text"
            disabled=true
            inputValue=this.calculations.difference
          }}
          {{#if (gt this.calculations.damage 0)}}
            {{>
            "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
              class="damage-deal"
              title=(localize 'abfalter.autoCombat.dialog.damageDeal.title')
              disabled=true
              inputValue=this.calculations.damage
            }}
          {{/if}}
          {{#if this.calculations.canCounter}}
            {{#unless this.ui.isCounter}}
              {{>
              "systems/abfalter/templates/autoCombat/common/ui/vertical-titled-input.hbs"
                class="counterattack-bonus"
                title=(localize 'abfalter.autoCombat.dialog.counterAttackBonus.title')
                inputType="text"
                disabled=true
                inputValue=this.calculations.counterAttackBonus
              }}
            {{/unless}}
          {{/if}}
        </div>
        <div class='ready-buttons'>
          {{#if (or this.calculations.canCounter (gt this.calculations.damage 0))}}
            <button class='abf-button show-results'>
              {{localize 'abfalter.autoCombat.dialog.showResultsButton.title'}}
            </button>
          {{/if}}
          {{#if this.calculations.canCounter}}
            {{#unless this.ui.isCounter}}
              <button title='{{localize 'abfalter.autoCombat.dialog.counterAttackButtonTooltip.title'}}'
                      class='abf-button make-counter'>
                {{localize 'abfalter.autoCombat.dialog.counterAttackButton.title'}}
              </button>
            {{/unless}}
          {{/if}}
          {{#if this.ui.resistanceRoll}}
            <button title='{{localize 'abfalter.autoCombat.dialog.rollResistanceButtonTooltip.title'}}'
                    class='abf-button roll-resistance'>
              {{localize 'abfalter.autoCombat.dialog.rollResistanceButton.title'}}
            </button>
          {{/if}}
          {{#unless this.ui.resistanceRoll}}
            {{#if this.calculations.isCrit}}
              <button title='{{localize 'abfalter.autoCombat.dialog.rollCritAndApplyButtonTooltip.title'}}'
                      class='abf-button roll-crit'>
                {{localize 'abfalter.autoCombat.dialog.rollCritAndApplyButton.title'}}
              </button>            
            {{else}}
              <button title='{{localize 'abfalter.autoCombat.dialog.applyAndCloseButtonTooltip.title'}}'
                      class='abf-button apply-values'>
                {{localize 'abfalter.autoCombat.dialog.applyAndCloseButton.title'}}
              </button>
            {{/if}}
          {{/unless}}
          <button class='abf-button cancelButton'>
            {{localize 'abfalter.autoCombat.dialog.cancelButton.title'}}
          </button>
        </div>
      {{/"systems/abfalter/templates/autoCombat/common/ui/group-body.hbs"}}
    {{else if (and this.attacker.isReady this.defender.isReady)}}
      <button class='abf-button calculate-attack'>
          {{localize 'abfalter.autoCombat.dialog.calculateButton.title'}}
      </button>
    {{/if}}
    {{/"systems/abfalter/templates/autoCombat/common/ui/group.hbs"}}
  
















</form>