<div>
    <span> this is the combat html which is heavily WIP still </span><br \><br \>

    <span> Modifier to the attack </span>
    {{>
    "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
    title=(localize 'abfalter.autoCombat.dialog.modifier.title')
    disabled=this.attackSent
    inputName="attacker.combat.modifier"
    inputValue=this.attacker.combat.modifier
    }}
 


    {{#if ui.hasFatiguePoints}}
    <br \><span> Number of fatigue point you want to use </span>
    {{>
    "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
    title=(localize 'abfalter.autoCombat.dialog.fatigue.title')
    disabled=this.attackSent
    inputName="attacker.combat.fatigueUsed"
    inputValue=this.attacker.combat.fatigueUsed
    }}
    {{else}}
    <p class='label no-fatigue'>{{localize 'abfalter.autoCombat.dialog.notEnoughFatigue.title'}}</p>
    {{/if}}



    <br \><span> where you set how you attack physically </span><br \>


    {{#if this.attacker.combat.unarmed}}
    {{#> 'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'
        title=(localize 'abfalter.autoCombat.dialog.weapon.title')
        disabled=true
    }}
        <option>Unarmed</option>
    {{/'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'}}
    {{else}}
    {{#> 'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'
        title=(localize 'abfalter.autoCombat.dialog.weapon.title')
        disabled=this.attackSent
        inputName='attacker.combat.weaponUsed'
    }}
        {{#each this.attacker.combat.weaponsList}}
        <option {{#if (eq this._id ../this.attacker.combat.weaponUsed)}}selected{{/if}} value='{{this._id}}'>{{localize 'abfalter.autoCombat.dialog.weaponRow.attack.title' name=this.name value=this.system.finalAtk}}</option>
        {{/each}}
    {{/'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'}}
    {{/if}}



    {{#unless this.attacker.combat.unarmed}}
    {{#unless (eq attacker.combat.weapon.system.secDmgT "NONE")}}
        {{#> 'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'
        title=(localize 'abfalter.autoCombat.dialog.weapon.damageType.title')
        disabled=this.attackSent
        inputName='attacker.combat.weaponType'
        }}
        <option {{#if (eq this.attacker.combat.weapon.system.primDmgT this.attacker.combat.damage.type)}}selected{{/if}} value='{{this.attacker.combat.weapon.system.primDmgT}}'>{{localize (concat 'abfalter.armoryTab.' (toLowerCase this.attacker.combat.weapon.system.primDmgT))}}</option>
        <option {{#if (eq this.attacker.combat.weapon.system.secDmgT this.attacker.combat.damage.type)}}selected{{/if}} value='{{this.attacker.combat.weapon.system.secDmgT}}'>{{localize (concat 'abfalter.armoryTab.' (toLowerCase this.attacker.combat.weapon.system.secDmgT))}}</option>
        {{/'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'}}
    {{else}}
        {{#> 'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'
        title=(localize 'abfalter.autoCombat.dialog.weapon.damageType.title')
        disabled=true
        inputName='attacker.combat.weaponType'
        }}
        <option selected value='{{this.attacker.combat.weapon.system.primDmgT}}'>{{localize (concat 'abfalter.armoryTab.' (toLowerCase this.attacker.combat.weapon.system.primDmgT))}}</option>
        {{/'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'}}
    {{/unless}}
    {{/unless}}



    <br \><span> Modifier to the damage </span><br \>
    {{>
    "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
    title=(localize 'abfalter.autoCombat.dialog.damage.title')
    inputName="attacker.combat.damage.special"
    inputValue=this.attacker.combat.damage.special
    disabled=this.attackSent
    hasSecondaryInput=true
    disableSecondaryInput=true
    secondaryInputName="attacker.combat.damage.final"
    secondaryInputValue=this.attacker.combat.damage.final
    }}

    {{#if this.attacker.combat.projectile.value}}
    {{#if (eq this.attacker.distance.enable false)}}
    <div class='columns'>
    <div>
        {{>
        "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
        title=(localize 'abfalter.autoCombat.dialog.distance.title')
        inputType="checkbox"
        inputName="attacker.combat.distanceCheck"
        inputValue=(eq this.attacker.combat.distanceCheck true)
        }}
    </div>
    </div>
    {{/if}}
    <div class='columns'>
    <div>
        {{>
        "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
        title=(localize 'abfalter.autoCombat.dialog.highGround.title')
        inputType="checkbox"
        inputName="attacker.highGround"
        inputValue=(eq this.attacker.highGround true)
        }}
    </div>
    </div>
    <div class='columns'>
    <div>
        {{>
        "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
        title=(localize 'abfalter.autoCombat.dialog.poorVisibility.title')
        inputType="checkbox"
        inputName="attacker.poorVisibility"
        inputValue=(eq this.attacker.poorVisibility true)
        }}
    </div>
    </div>
    <div class='columns'>
    <div>
        {{>
        "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
        title=(localize 'abfalter.autoCombat.dialog.targetInCover.title')
        inputType="checkbox"
        inputName="attacker.targetInCover"
        inputValue=(eq this.attacker.targetInCover true)
        }}
    </div>
    </div>
    {{/if}}


    {{#if this.attackSent}}
    <div class='attack-sent'>
        {{>'systems/abfalter/templates/autoCombat/common/ui/loading-indicator.hbs' class="big"}}
        <p class='label'>
        {{localize 'abfalter.autoCombat.dialog.attackSent.title'}}
        </p>
    </div>
    {{else}}
    <button class='abf-button sendNormAttack'>
        {{localize 'abfalter.autoCombat.dialog.attackButton.title'}}
    </button>
    {{/if}}
</div>