{{#if (gt this.attacker.psychic.freePsychicPoints 0) }}
<div class='columns'>
    <div>
        {{>
        "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
        title=(localize 'abfalter.autoCombat.dialog.psychicProjection.ppp.title')
        inputName="attacker.psychic.psychicProjection.ppp"
        inputValue=this.attacker.psychic.psychicProjection.ppp
        }}
    </div>
</div>
{{/if}}
{{>
"systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
title=(localize 'abfalter.autoCombat.dialog.psychicProjection.title')
disabled=this.attackSent
inputName="attacker.psychic.psychicProjection.special"
inputValue=this.attacker.psychic.psychicProjection.special
hasSecondaryInput=true
disableSecondaryInput=true
secondaryInputName="attacker.psychic.psychicProjection.final"
secondaryInputValue=this.attacker.psychic.psychicProjection.final
}}

{{#if (gt this.attacker.psychic.freePsychicPoints 0) }}
<div class='columns'>
    <div>
        {{>
        "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
        title=(localize 'abfalter.autoCombat.dialog.psychicPotential.ppp.title')
        disabled=this.psychicPotentialSent
        inputName="attacker.psychic.psychicPotential.ppp"
        inputValue=this.attacker.psychic.psychicPotential.ppp
        }}
    </div>
</div>
{{/if}}
{{>
"systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
title=(localize 'abfalter.autoCombat.dialog.psychicPotential.title')
disabled=this.psychicPotentialSent
inputName="attacker.psychic.psychicPotential.special"
inputValue=this.attacker.psychic.psychicPotential.special
hasSecondaryInput=true
disableSecondaryInput=true
secondaryInputName="attacker.psychic.psychicPotential.final"
secondaryInputValue=this.attacker.psychic.psychicPotential.final
}}


{{#> 'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'
title=(localize 'abfalter.autoCombat.dialog.psychicPower.title')
disabled=this.psychicPotentialSent
inputName='attacker.psychic.powerUsed'
}}
{{#each this.attacker.psychic.powers}}
<option {{#if (eq this._id ../this.attacker.psychic.powerUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}
</option>
{{/each}}
{{/'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'}}

{{#unless (eq this.attacker.psychic.attainablePowerLevels.length 0)}}
{{#> 'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'
  title=(localize 'abfalter.autoCombat.dialog.psychicPowerLevel.title')
  disabled=this.attackSent
  inputName='attacker.psychic.powerLevel'
}}
{{#each this.attacker.psychic.attainablePowerLevels}}
  <option {{#if (eq ../this.attacker.psychic.powerLevel this)}}selected{{/if}} value='{{this}}'>{{localize (concat 'abfalter.autoCombat.dialog.powerLevel.' this '.title')}}</option>
{{/each}}
{{/'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'}}
{{/unless}}

{{#unless (eq this.attacker.psychic.resistanceEffect.type undefined)}}
{{#> 'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'
  title=(localize 'abfalter.autoCombat.dialog.resistanceEffect.title')
  disabled=this.attackSent
  inputName='attacker.psychic.resistanceEffect.types'
}}
{{#each this.attacker.psychic.resistanceEffect.types}}
  <option {{#if (eq ../this.attacker.psychic.resistanceEffect.type this)}}selected{{/if}} value='{{this}}'>{{localize (concat 'abfalter.autoCombat.dialog.resistanceEffect.' (toLowerCase this) '.title')}}</option>
{{/each}}
{{/'systems/abfalter/templates/autoCombat/common/ui/custom-select.hbs'}}
{{/unless}}

{{> 'systems/abfalter/templates/autoCombat/common/ui/custom-select-choices.hbs'
  disabled=this.attackSent
  choices=config.damageTypeSpiritDropdown
  title=(localize "abfalter.autoCombat.dialog.weapon.damageType.title")
  inputName='attacker.psychic.weaponType'
  inputValue=this.attacker.psychic.damage.type
}}

{{>
"systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
  title=(localize "abfalter.autoCombat.dialog.damage.title")
  disabled=this.attackSent
  inputName="attacker.psychic.damage.special"
  inputValue=this.attacker.psychic.damage.special
  hasSecondaryInput=true
  disableSecondaryInput=true
  secondaryInputName="attacker.psychic.damage.final"
  secondaryInputValue=attacker.psychic.damage.final
}}

{{#if (gt this.attacker.psychic.freePsychicPoints 0) }}
<div class='columns'>
    <div>
        {{>
        "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
        title=(localize 'abfalter.autoCombat.dialog.eliminateFatigue.title')
        inputType="checkbox"
        inputName="attacker.psychic.eliminateFatigue"
        inputValue=(eq this.attacker.psychic.eliminateFatigue true)
        }}
    </div>
</div>
{{/if}}

{{!-- {{#unless (eq this.attacker.actor.system.psychic.mentalPatterns.length 0)}}
<div class='columns'>
    <div>
        {{>
        "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
        title=(localize 'abfalter.autoCombat.dialog.mentalPatternImbalance.title')
        inputType="checkbox"
        inputName="attacker.psychic.mentalPatternImbalance"
        inputValue=(eq this.attacker.psychic.mentalPatternImbalance true)
        }}
    </div>
</div>
{{/unless}} --}}

{{#if (eq this.attacker.distance.enable false)}}
<div class='columns'>
    <div>
        {{>
        "systems/abfalter/templates/autoCombat/common/ui/horizontal-titled-input.hbs"
        title=(localize 'abfalter.autoCombat.dialog.distance.title')
        inputType="checkbox"
        inputName="attacker.psychic.distanceCheck"
        inputValue=(eq this.attacker.psychic.distanceCheck true)
        }}
    </div>
</div>
{{/if}}

{{#if this.attackSent}}
<div class='psychic-attack-sent'>
    {{>'systems/abfalter/templates/autoCombat/common/ui/loading-indicator.hbs' class="big"}}
    <p class='label'>
        {{localize 'abfalter.autoCombat.dialog.attackSent.title'}}
    </p>
</div>
{{else}}
    {{#if this.psychicPotentialSent}}
        <button class='abf-button sendPsychicAttack'>
            {{localize 'abfalter.autoCombat.dialog.attackButton.title'}}
        </button>
    {{else}}
        <button class='abf-button' name='attacker.psychic.rollPsychicPotential'>
            {{localize 'abfalter.autoCombat.dialog.rollPsychicPotentialButton.title'}}
        </button>
    {{/if}}
{{/if}}